{# heritage de la vue mais pas dans le sens de la POO #}
{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}

    <h1>{{ employe }}</h1>
 
    

    <p>
        Ville: {{ employe.ville }} <br>
        Entreprise: {{ employe.entreprise.raisonSociale }} <br>
        Date d'embauche: {{ employe.dateEmbauche | date('d/m/Y') }} <br>
        Date de naissance: {{ employe.dateNaissance | date('d/m/Y') }} ({{ employe.age }} ans)

    </p>
{% endblock %}
